
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4 d-flex justify-content-start">
            <button class="btn btn-success" (click)="irAltaEvento()">
                <i class="fa fa-plus"></i> Añadir
            </button>
        </div>
        <div class="col-md-4 text-right">
            <h1><strong>Eventos</strong></h1>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <form class="form-inline my-2 my-lg-0" id="cityForm">
                <input type="text" id="cityInput" placeholder="Filtrar por ciudad" aria-label="Introduce ciudad" [(ngModel)]="cityName" name="cityName">
                <button class="btn btn-buscar-ciudad" (click)="getEventoNombre(cityName)">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="col-md-12 table-container mt-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción Corta</th>
                    <th>Fecha</th>
                    <th>Precio Mínimo</th>
                    <th>Precio Máximo</th>
                    <th>Recinto</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let evento of eventos">
                    <td><span class="clickDetalleEvento" (click)="getEventoDetails(evento.id)">{{evento.nombre}}</span></td>
                    <td>{{evento.descripcionCorta}}</td>
                    <td>{{evento.fechaEvento}}</td>
                    <td>{{evento.precioMinimo}}</td>
                    <td>{{evento.precioMaximo}}</td>
                    <td>{{evento.recinto.nombre}}</td>
                    <td class="button-container">
                        <button class="btn btn-danger" (click)="deleteEvento(evento)">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button class="btn btn-secondary" (click)="editarEvento(evento.id)">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>