
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="col-md-6 table-container">
        <h1> Eventos</h1>
        <button class="btn btn-success" routerLink="/altaEvento">Añadir</button>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción Corta</th>
                    <th>Fecha</th>
                    <th>Precio Mínimo</th>
                    <th>Precio Máximo</th>
                    <th>Recinto</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let evento of eventos">
                    <td>{{evento.nombre}}</td>
                    <td>{{evento.descripcionCorta}}</td>
                    <td>{{evento.fechaEvento}}</td>
                    <td>{{evento.precioMinimo}}</td>
                    <td>{{evento.precioMaximo}}</td>
                    <td>{{evento.recinto.nombre}}</td>
                    <td class="button-container">
                        <button class="btn btn-danger" (click)="deleteEvento(evento)">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button class="btn btn-secondary">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>