<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container mt-4">
    <div class="col-md-6 table-container">
        <div class="row align-items-center">
                <div class="col-md-4 d-flex justify-content-start">
                    <a href="/eventos" class="btn btn-primary mb-3 custom-button">
                        <i class="fa fa-reply"></i> Volver
                    </a>
                </div>
                <div class="col-md-4 text-right">
                    <h1><strong>Eventos en {{ localidad }}</strong></h1>
                </div>
        </div>
        <ng-container *ngIf="eventos.length > 0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción Corta</th>
                    <th>Fecha</th>
                    <th>Precio Mínimo</th>
                    <th>Precio Máximo</th>
                    <th>Recinto</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let evento of eventos">
                    <td><span class="clickDetalleEvento" (click)="getEventoDetails(evento.id)">{{evento.nombre}}</span></td>                    
                    <td>{{evento.descripcionCorta}}</td>
                    <td>{{evento.fechaEvento}}</td>
                    <td>{{evento.precioMinimo}}</td>
                    <td>{{evento.precioMaximo}}</td>
                    <td>{{evento.recinto.nombre}}</td>
                    <td class="button-container">
                        <button class="btn btn-danger" (click)="deleteEvento(evento)">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button class="btn btn-secondary" (click)="editarEvento(evento.id)">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <div *ngIf="eventos.length === 0 && mostrarMensaje">
        <p class="noEvento">No hay eventos disponibles para esta ciudad</p>
    </div>
    </div>
</div>