<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container mt-4" id="container">
  <h2><strong>Compra de Entrada</strong></h2>
  <form (ngSubmit)="comprarEntrada()">
    <div class="form-group">
      <label for="nombreTitular">Nombre del Titular:</label>
      <input type="text" id="nombreTitular" class="form-control" [(ngModel)]="tarjeta.nombreTitular" name="nombre"
        required>
    </div>
    <div class="form-group">
      <label for="numeroTarjeta">Número de Tarjeta:</label>
      <input type="text" id="numeroTarjeta" class="form-control" [(ngModel)]="tarjeta.numeroTarjeta"
        name="numeroTarjeta" required>
    </div>
    <div class="form-group">
      <label for="mesCaducidad">Mes de Caducidad:</label>
      <input type="text" id="mesCaducidad" class="form-control" [(ngModel)]="tarjeta.mesCaducidad" name="mesCaducidad"
        required>
    </div>
    <div class="form-group">
      <label for="yearCaducidad">Año de Caducidad:</label>
      <input type="text" id="yearCaducidad" class="form-control" [(ngModel)]="tarjeta.yearCaducidad"
        name="yearCaducidad" required>
    </div>
    <div class="form-group">
      <label for="cvv">CVV:</label>
      <input type="password" id="cvv" class="form-control" [(ngModel)]="tarjeta.cvv" name="cvv" required>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-success">
        <i class="fa fa-credit-card"></i> Comprar
      </button>
    </div>
  </form>
</div>
<div class="container mt-4">
  <a href="/entradas" class="btn btn-primary mb-3 custom-button">
    <i class="fa fa-reply"></i> Volver
  </a>
</div>