<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div *ngIf="evento" class="container mt-4">
    <a href="/eventos" class="btn btn-primary mb-3 custom-button">
        <i class="fa fa-reply"></i> Volver
    </a>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Información del Evento</h3>
            
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Nombre:</label>
                        <p>{{ evento.nombre }}</p>
                    </div>
                    <div class="form-group">
                        <label>Descripción Corta:</label>
                        <p>{{ evento.descripcionCorta }}</p>
                    </div>
                    <div class="form-group">
                        <label>Descripción Extendida:</label>
                        <p>{{ evento.descripcionExtendida }}</p>
                    </div>
                    <div class="form-group">
                        <label>Fecha Evento:</label>
                        <p>{{ evento.fechaEvento }}</p>
                    </div>
                    <div class="form-group">
                        <label>Hora de Evento:</label>
                        <p>{{ evento.horaEvento }}</p>
                    </div>
                    <div class="form-group">
                        <label>Precio Mínimo:</label>
                        <p>{{ evento.precioMinimo }}</p>
                    </div>
                    <div class="form-group">
                        <label>Precio Máximo:</label>
                        <p>{{ evento.precioMaximo }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <img class="img-fluid" src="{{ evento.foto }}" alt="Foto del evento con ID: {{ evento.id }}" />
                    </div>
                </div>

                <hr>
                
            </div>
                <h4 class="card-title">Información Adicional</h4>
                <div class="form-group">
                    <label>Normas:</label>
                    <p>{{ evento.normas }}</p>
                </div>
                <div class="form-group">
                    <label>Recinto:</label>
                    <p><span class="font-weight-bold">Nombre Recinto:</span> {{ evento.recinto.nombre }}</p>
                    <p><span class="font-weight-bold">Localidad:</span> {{ evento.recinto.localidad }}</p>
                </div>              
        </div>
    </div>
</div>