label, .bold {
    font-weight: bold;
}

.form-group:not(:first-child) {
    margin-top: 0; 
}

p {
    text-align: justify;
}

.margin-bot{
    margin-bottom: 1%;
}

.card-title,
.form-group label,
.font-weight-bold {
    color: rgb(69, 142, 226);
}

.img-fluid {
    border-radius: 10px; 
}

.card-divider {
    border-top: 1px solid rgb(69, 142, 226);
    margin-top: 15px;
}

.card {
    border: 2px solid rgb(69, 142, 226);
    border-radius: 10px; 
    overflow: hidden; 
    background-color: #f5f5f5;
}

hr {
    border: 0;
    height: 3px;
    background-color: rgb(0, 104, 223);
}

.custom-button {
    background-color: rgb(69, 142, 226);
}

.custom-button:hover {
    background-color: #007bb5; 
}