

ul {
  list-style: none;
  padding: 0;
}

h1{
  font-size: 80px;
  color: rgb(255, 255, 255);
}

p{
  font-size: 50px;
  color: #fff;
}

li {
  display: inline-block;
  margin: 0 10px;
}

button {
  padding: 15px 25px;
  font-size: 16px;
  text-decoration: none;
  background-color:rgb(69, 142, 226);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #025f9c;
}

.home-container {
  background-image: url('https://wallpapers.com/images/hd/concert-background-d4zewofzhvhqaesl.jpg');
  background-size: cover;
  background-position: center;
  color: #000000;
  text-align: center;
  padding: 50px;
  height: 92.1vh; /* Hace que el contenedor ocupe el 100% de la altura de la ventana */
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  padding: 0 !important; /* Anula cualquier padding que se aplique por defecto */
}