.home-container {
    background-color: hsl(0, 0%, 100%); /* Color de fondo */
    background-size: cover; /* Cubre todo el área */
    background-repeat: no-repeat; /* No se repite la imagen */
  }
  