<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="usuario-box" *ngIf="usuario">
        <div class="contenido">
            <div class="imagen-usuario">
                <img src="./assets/fdp3.png" alt="Imagen de usuario">
            </div>
            <div class="info-usuario">
                <h2><strong>{{ usuario.nombre }} {{ usuario.apellido }}</strong></h2>
                <p>Id: {{ usuario.id }}</p>
                <p>Correo: {{ usuario.mail }}</p>
                <p>Contraseña: {{ usuario.contrasenia }}</p>
                <p>Fecha de alta: {{ usuario.fechaAlta }}</p>
            </div>
        </div>
    </div>
    <a href="/usuarios" class="btn btn-primary mb-3 custom-button">
        <i class="fa fa-reply"></i> Volver
    </a>
</div>