<div class="container">
    <div class="usuario-box" *ngIf="usuario">
        <div class="contenido">
            <div class="imagen-usuario">
                <img src="./assets/fdp3.png" alt="Imagen de usuario">
            </div>
            <div class="info-usuario">
                <h2><strong>{{ usuario.nombre }} {{ usuario.apellido }}</strong></h2>
                <p>Id: {{ usuario.id }}</p>
                <p>Correo: {{ usuario.mail }}</p>
                <p>Contraseña: {{ usuario.contrasenia }}</p>
                <p>Fecha de alta: {{ usuario.fechaAlta }}</p>
            </div>
        </div>
    </div>
    <button class="btn-volver" (click)="volverListado()">< Volver</button>
</div>