<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container mt-4">
    <h1><strong>Usuarios</strong></h1>
    <button class="btn-alta-usuario">Alta usuario</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre completo</th>
                <th>Mail</th>
                <th>Fecha de alta</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td><span class="clickDetalleUsuario" (click)="getUserDetails(user.id)">{{ user.nombre }} {{ user.apellido }}</span></td>
                <td>{{ user.mail }}</td>
                <td>{{ user.fechaAlta }}</td>
                <td class="button-container">
                    <button class="btn btn-danger" (click)="deleteUser(user)">
                        <i class="fa fa-trash"></i>
                    </button>                   
                    <button class="btn btn-secondary">
                        <i class="fa fa-pencil"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
